<!DOCTYPE html>
<html ng-app="MyFirstApp">
    <head>
        <meta charset="utf-8">
        <script src="angular.min.js"></script>
        <script src="ex_myfirstapp.js"></script>
        <title>My first AngularJS App</title>
    </head>
        <h1>My first AngularJS App</h1>
        <div ng-controller="MyFirstController">
            {{name}}
            <input type="text" ng-model="name">
            Inside my input is: {{name}}
            <br>
            {{sayHello()}}
            <input type="text" ng-model="sayHello()">
        </div>
    <body>
    </body>
</html>